.country{
    width: 20px;
    height: 20px;
  }

  .lng{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sticky-top{
    background-color: #E65D37;
  }

  .name-header {
    color: #ffff !important;
  }