#jobprofil {
    display: flex;
    align-items: center;
    width: 100%;
    min-height:50px;
    margin:10px 0px;
    border-radius: 19px;
    background-color: rgb(184, 184, 184);
}
    
#profil-picture {
    width:40px;
    height:40px;
    border-radius: 50%;
}


#profil-content {
    display: flex;
    flex-direction: column;
    width:60%;
    margin-left: 10px;
}

.profil-p {
    margin:0;
    height:20px;
}

#name {
font-weight: 600;
font-size:16px;
}
